body {
  color: #000000;
  padding-top: 50px;
  font-family: Courier New;
}

  .div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        border: 1px solid black;
  }

  .center {
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;   
    align-items: center;
    padding: 40px 0;
  }
  
  .btn-group button {
    background-color: #e4cbe4;
    border: 1px solid rgb(191, 156, 200); 
    border-radius: 8px;
    color: rgb(0, 0, 0); 
    padding: 10px 24px;
    cursor: pointer; 
    width: 15%; 
    display: block; 
    font-family:"Courier New", Courier, monospace;
    font-size: 100%;
    
  }

  .btn-group button:hover {
    background-color: #eed8ed;
  }

  .imgprofile {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;   
    align-items: center;
    padding: 40px 0;
  }

  .topnav {
    overflow: hidden;
    position: fixed;
    background-color: #a074a3;
    top: 0;
    left: 0;
    width: 100%;
    font-family:"Courier New", Courier, monospace;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-content: center;
  }
  
  .topnav a:hover {
    background-color: #eed8ed;
    color: black;
  }

  .topnav a.active {
    background-color: #bf99d5;
    color: white;
  }

  @import url(https://fonts.googleapis.com/css?family=Exo:100);

  @-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }

  body {
    color: #000000;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 4s infinite;
    -moz-animation: bg-scrolling-reverse 4s infinite;
    -o-animation: bg-scrolling-reverse 4s infinite;
    animation: bg-scrolling-reverse 4s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    padding-top: 50px

  }

  .text-container {
    background-color: rgb(233, 220, 238);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    max-width: 92%;
    padding: 10px 20px;
    margin-top: 5%;

  }

  .text-container1 {
    background-color: rgb(233, 220, 238); 
    border-radius: 10px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    max-width: 45%;
    padding: 10px 20px; 

  }

  .text-container2 {
    background-color: rgb(233, 220, 238); 
    border-radius: 10px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 42%;
    padding: 10px 20px; 
    margin-top: 3%;
    display: flex; 
    flex: 50%;
    padding: 10px;

  }
  .row {
    display: flex;
    gap: 3%;
  }

  .picture-container {
    padding: 20px;
    margin: 5px 2px;
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;


  }

  .clang {
    width: 50px;
    height: 50px;
    
  }

  .java {
    width: 80px;
    height: 80px;
    margin-top: 30px;
  }

  .html{
    width: 50px;
    height: 50px;
  }

  .css {
    width: 50px;
    height: 50px;
  }

  .cplus {
    width: 50px;
    height: 50px;
  }
  
  .item {
    width: 50px;
    height: 50px;
    max-height: 100%;
    max-width: 100%;
    margin-left: 0%;
    padding: 0;
    align-items: center;    
    background-color: #a074a3;


  }


  .item:hover {
    background-color:#a074a3;
    color: #a074a3;
  }

  
