body {
  color: #000000;
  padding-top: 50px;
  font-family: Courier New;
}

  .div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        border: 1px solid black;
  }

  .center {
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;   
    align-items: center;
    padding: 40px 0;
  }
  
  .btn-group button {
    background-color: #e4cbe4; /* Green background */
    border: 1px solid rgb(191, 156, 200); /* Green border */
    border-radius: 8px;
    color: rgb(0, 0, 0); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 15%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    font-family:"Courier New", Courier, monospace;
    font-size: 100%;
    
  }

  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #eed8ed;
  }

  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .topnav {
    overflow: hidden;
    position: fixed;
    background-color: #a074a3;
    top: 0;
    left: 0;
    width: 100%;
    font-family:"Courier New", Courier, monospace;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #eed8ed;
    color: black;
  }
  
  .topnav a.active {
    background-color: #bf99d5;
    color: white;
  }

  @import url(https://fonts.googleapis.com/css?family=Exo:100);
  /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
  /* Animations */
  @-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  /* Main styles */
  body {
    color: #000000;
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 0.92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  
    padding-top: 50px
  }

  .text-container {
    background-color: rgb(233, 220, 238); /* White background */
    border-radius: 10px; /* Optional: Rounds the corners */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
    max-width: 92%;
    padding: 10px 20px; /* Adjusts space inside */
    margin-top: 5%;

  }

  .text-container1 {
    background-color: rgb(233, 220, 238); /* White background */
    border-radius: 10px; /* Optional: Rounds the corners */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
    max-width: 45%;
    padding: 10px 20px; /* Adjusts space inside */
    margin-top: 3%;

  }

  .text-container2 {
    background-color: rgb(233, 220, 238); /* White background */
    border-radius: 10px; /* Optional: Rounds the corners */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
    max-width: 42%;
    padding: 10px 20px; /* Adjusts space inside */
    margin-top: 3%;
    display: flex; 
    flex: 50%;
    padding: 10px;

  }
  .row {
    display: flex;
    gap: 3%;
  }
